.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .error-banner {
    display: flex;
    justify-content: center; // Center image within its container
    width: 100%;
    max-width: 400px;
    margin-bottom: 1rem;
  
    img {
      width: 100%;
      height: auto;
      display: block; // Ensures the image is treated as a block element
    }
  }
  
  .error-text {
    font-size: 1.5rem;
   color: #ff6060;
    text-align: center;
    margin-bottom: 7rem;
    padding: 0 1rem;
  }