.home-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px; 
    overflow: hidden;
    
  }

  .footerText{
    margin-bottom: 0;
    margin-top: 1rem;
  }
  
  
  @media (max-width: 900px) {
    .home-container {
      max-width: 47.8em;
        min-width:  20em;
      padding: 0em 0em;
      align-items: center;
      overflow: hidden;
      height: auto;
      
  }
  
  .banner,
  .cards,
  .footer
   {
    width: 100%;
    max-width: 100%;
  }
  }