.appartement-list {
  background-color: #F6F6F6;
  min-height: 50vh;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1.5rem;

  @media (max-width: 768px) {
    background-color: #ffffff;
  }
}

.flats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.flat {
  width: 21.25rem;
  height: 21.25rem;
  position: relative; /* Permet de positionner des éléments enfants absolument par rapport à cet élément */
  border-radius: 8px;
  overflow: hidden; /* Cache le contenu qui dépasse les limites de l'élément */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out; /* Transition douce pour l'effet de survol */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .flatTitle {
    position: absolute;
    bottom: 10px; /* Positionne le titre à 10px du bas de l'élément parent */
    left: 10px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
  }

  &:hover {
    transform: translateY(-5px);  /* Déplace légèrement l'élément vers le haut pour un effet de survol */
  }
}

.flatList {
  text-decoration: none;
}
