$appart-color: #FF6060;
.dropdown {
   
   
    border-radius: 0.5rem; // Arrondit les coins
  
    .dropdown-toggle {
      background-color: $appart-color;
      color: white;
      border: none;
      padding: 0.5em 1em;
      border-radius: 0.6em;
      cursor: pointer;
      display: flex;
      justify-content: space-between; // Aligne le texte et l'icône
      align-items: center;
      font-weight: bold;
      width: 100%;
      text-align: left; // Assure que le texte est aligné à gauche
  
      svg {
        font-size: 24px; // Ajuste la taille du chevron
      }
    }
  
    .dropdown-content {
      padding: 0.5em;
      background-color: #f9f9f9;
      border-radius: 0 0 0.5em 0.5em; // Arrondit uniquement le bas du dropdown
      
    }
  }