.dropdown {
  border-radius: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;

  .dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #FF6060;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5rem;
    font-weight: bold;
    text-align: left;
    width: 100%;
    
    svg {
      font-size: 24px;
      transition: transform 0.3s ease;  
    }
  }

  .icon {
    transition: transform 0.3s ease;  
  }

  .icon.rotated {
    transform: rotate(180deg);  // Rotation du chevron lorsque le dropdown est ouvert
  }

  .dropdown-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    padding: 0 0.5em;
    background-color: #f9f9f9;
    border-radius: 0 0 0.5rem 0.5rem;

    ul {
      list-style-type: none;
      padding: 0;
    }
  }

  &.open .dropdown-content {
    max-height: 500px;
    opacity: 1;
    transform: scaleY(1);
  }
}