
.navbar {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  color: #ff6060;
  font-weight: 700;
  margin-top: 1.25rem;
  gap: 0.8rem;

  .logo {
    margin-right: auto;

    img {
      height: 68px;
      width: 200px;
    }

    // @media (max-width: 768px) {
    //  padding-left: 0;
    //   gap:0.5rem;
    // }
  }

  a {
    color: #000000;
    text-decoration: none;

    &.active,
    &.isActive {
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      text-transform: uppercase;
    }
   
  }
}