.carousel {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;

  .carousel-image {
    img {
      width: 100%;
      object-fit: cover;
      display: block;
      margin-top: 2rem;
      margin-bottom:1rem ;
    }
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 2rem; 
    transition: transform 0.2s; 
    background: none;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);

    &:hover {
      transform: translateY(-50%) scale(1.2); 
    }

    &.previous {
      left: 10px;
    }

    &.next {
      right: 10px;
    }
  }

  .slide-number {
    position: absolute;
    bottom: 17px; 
    left: 50%;
    transform: translateX(-50%); 
    color: white;
   
  }
}