.banner{
  background-image: url('./banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 8.75em;
  border-radius: 1rem;
  margin-top: 3.75em;
  margin-right: 4.5em;
  position:relative;
  margin: auto;
  opacity: 0.9;
  
}


.banner p {
    position: relative;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF; 
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
  }